.contentWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #424242;
}

.serverContent {
  height: 100%;
  width: 100%;
  padding: 3vw;
}

#serverStats, #playerTracker, #searchPlayer {
  color: white;
  background-color: #212121;
  padding: 20px 2vw 20px 2vw;
  min-width: 25vw;
  min-height: 200px;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
}

#serverStatsContentSpinner {
  margin: 0 auto;
  padding-top: 20px;
}

#serverStatsContent {
  display: flex;
  flex-direction: column;
  position: center;
}

.row {
  margin: 20px 0;
}

.row > div {
  margin: 0 5vw;
}

#searchPlayerButton {
  position: relative;
  min-width: 30px;
  min-height: 30px;
  background-color: #343a40;
  border-bottom-color: #343a40;
  inset: auto;
  box-shadow: none;
}

#searchPlayerButton .mat-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

#searchPlayer > div > form {
  display: flex;
  justify-content: center;
}
