<div class="contentWrapper">

  <app-worlds-nav [defaultServer]="server"></app-worlds-nav>

  <div class="serverContent">
    <div class="row">
      <div id="serverStats">
        <h3>Server stats</h3>
        <mat-progress-spinner mode="indeterminate" id="serverStatsContentSpinner"></mat-progress-spinner>
        <div id="serverStatsContent">
        </div>
      </div>
    </div>
    <div class="row">
      <div id="playerTracker">
        <div *ngIf="(currentUser|async) else noLoggedUserTracker">
          Ingelogd
        </div>
        <ng-template #noLoggedUserTracker>
          niet ingelogd
        </ng-template>
      </div>
    </div>
  </div>

</div>
