.sidenav-container {
  height: calc(100% - 56px);
}

.sidenav {
  width: 200px;
  background-color: #424242;
}

.sidenav .mat-toolbar {
  background: inherit;

}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-select-arrow, .mat-select-value {
  color: white;
}

form {
  display: flex;
  justify-content: center;
  background-color: #212121;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: white;
}

.worldOpen, .worldClosed {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.worldOpen {
  background-color: green;
}

.worldClosed {
  background-color: red;
}

.statusDivWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.selectWorld-item {
  display: flex !important;
  justify-content: center;
}

.mat-list-item-content {
  color: white;
}

.mat-sidenav-fixed {
  position: static !important;
  height: 100%;
}


