<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['']" id="navbar-brand">Grepolistools</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        
      </li>
    </ul>
    <form *ngIf="($currentUser | async) as user; else noLoggedInUser" class="form-inline my-2 my-lg-0">
      <span class="currentUser" mr-2>{{user}}</span>
      <a [routerLink]="['login']">
        <button class="btn my-2 my-sm-0 ml-2" (click)="logout()">Logout</button>
      </a>
    </form>
    <ng-template #noLoggedInUser>
      <form class="form-inline my-2 my-lg-0">
        <a [routerLink]="['login']">
          <button class="btn my-2 my-sm-0 mr-2" type="submit">Login</button>
        </a>
        <a [routerLink]="['register']">
          <button class="btn my-2 my-sm-0" type="submit">Register</button>
        </a>
      </form>
    </ng-template>
  </div>
</nav>
<ng-content></ng-content>
