.btn {
  color: white;
  border: solid 1px white;
  border-radius: 0;
  outline: none;
}

nav, .bg-dark {
  background-color: #212121 !important;
}

.btn:active {
  outline: none;
}

.currentUser {
  color: white;
}
